p{
color: red;
background-color:pink;
}
#para1{
color:blue;
}
.center{
text-align:right;
color:blue;
}
p.hi{
text-align:center;
color:red;
}
h2,h3,h4{
text-align:center;

color:green;
background-color:violet;
font-size:40px;
}
h2{
color:red;
}
.font-style{
font-style:italic;
color:red;
}
*{
text-align:center;
}
